<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ElearningManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.slim.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentCreation</display-name>
    <servlet-name>StudentCreation</servlet-name>
    <servlet-class>com.slim.servlets.StudentCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCreation</servlet-name>
    <url-pattern>/studentCreation</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ProfessorCreation</display-name>
    <servlet-name>ProfessorCreation</servlet-name>
    <servlet-class>com.slim.servlets.ProfessorCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorCreation</servlet-name>
    <url-pattern>/professorCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsList</display-name>
    <servlet-name>StudentsList</servlet-name>
    <servlet-class>com.slim.servlets.StudentsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsList</servlet-name>
    <url-pattern>/studentsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMenuRedirection</display-name>
    <servlet-name>AdminMenuRedirection</servlet-name>
    <servlet-class>com.slim.servlets.AdminMenuRedirection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMenuRedirection</servlet-name>
    <url-pattern>/adminMenuRedirection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDelete</display-name>
    <servlet-name>StudentDelete</servlet-name>
    <servlet-class>com.slim.servlets.StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelete</servlet-name>
    <url-pattern>/studentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorDelete</display-name>
    <servlet-name>ProfessorDelete</servlet-name>
    <servlet-class>com.slim.servlets.ProfessorDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorDelete</servlet-name>
    <url-pattern>/professorDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorList</display-name>
    <servlet-name>ProfessorList</servlet-name>
    <servlet-class>com.slim.servlets.ProfessorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorList</servlet-name>
    <url-pattern>/ProfessorList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorsList</display-name>
    <servlet-name>ProfessorsList</servlet-name>
    <servlet-class>com.slim.servlets.ProfessorsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorsList</servlet-name>
    <url-pattern>/professorsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceTracker</display-name>
    <servlet-name>AttendanceTracker</servlet-name>
    <servlet-class>com.slim.servlets.AttendanceTracker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceTracker</servlet-name>
    <url-pattern>/attendanceTracker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceTrackerChecker</display-name>
    <servlet-name>AttendanceTrackerChecker</servlet-name>
    <servlet-class>com.slim.servlets.AttendanceTrackerChecker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceTrackerChecker</servlet-name>
    <url-pattern>/attendanceTrackerChecker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>attendanceTrackerFormChecker</display-name>
    <servlet-name>attendanceTrackerFormChecker</servlet-name>
    <servlet-class>com.slim.servlets.attendanceTrackerFormChecker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attendanceTrackerFormChecker</servlet-name>
    <url-pattern>/attendanceTrackerFormChecker</url-pattern>
  </servlet-mapping>
</web-app>